body{
  width: 90%;
  padding: 0% 4%;
}


header{
  text-align: center;
  font-family: sans-serif;
  position: relative;
  z-index:99;
  background:rgba(255,255,255,0.2);
  width:100%;
  border-radius: 0%;
  padding: 1% 0%;
}

header a{
  text-decoration: none;
  display:inline-block;
  margin: 0% 1%;
  font-size: 120%;
  color:  white;
  border: white solid;
  padding: 1vh;
  width: 200px;
  transition:  transform 0.5s;
  border-radius: 20px;
}
header a:hover{
  background-color: rgba(255,255,255,0.4);
  transform: scale(1.2);
}
.current:hover{
  background: rgba(255,255,255,1);
  color: black;
}

.line{
  border-top: black
}

#slider{
  overflow: hidden;
  width:100%;
  margin-top: -10%;
  display: relative;
}
#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s slider infinite;
  z-index: 1;
}

#slider figure img{
  width:20% ;
  float: left;
}

.current{
  background: rgba(255,255,255,1);
  color: black;
}

.sliding div{
  background: rgba(255,255,255,0.5);
  border:white solid;
  width: 5%;
  height: 1vh;
  display: inline-block;
  align-content: center;
  margin-left: 10%;
  position: relative;
  z-index: 9999;
  border-radius: 20px;
}
.sliding{
  margin-top: -3%;
  margin-left: 20%;
}
#slider1{
  animation: 15s slider1 infinite;
}

#slider2{
    animation: 15s slider2  infinite;
}

#slider3{
    animation: 15s slider3  infinite;
}

#slider4{
    animation: 15s slider4  infinite;
}

@keyframes slider1{
  0%{
    background:white;
  }
  20%{
    background: white;
  }
  25%{
    background:rgba(255,255,255,0.5);
  }
  95%{
    background:rgba(255,255,255,0.5);
  }
  100%{
    background:white;
  }
}
@keyframes slider2{
  0%{
    background:rgba(255,255,255,0.5);
  }
  20%{
    background:rgba(255,255,255,0.5);
  }
  25%{
    background: white;
  }
  45%{
    background:white;
  }
  50%{
    background:rgba(255,255,255,0.5);;
  }
}

@keyframes slider3{
  0%{
    background:rgba(255,255,255,0.5);
  }
  45%{
    background: rgba(255,255,255,0.5);
  }
  50%{
    background:white;
  }
  70%{
    background: white;
  }
  75%{
    background: rgba(255,255,255,0.5);
  }
}

@keyframes slider4{
  0%{
    background:rgba(255,255,255,0.5);
  }
  70%{
    background:rgba(255,255,255,0.5);
  }
  75%{
    background: white;
  }
  95%{
    background:white;
  }
  100%{
    background:rgba(255,255,255,0.5);;
  }
}


@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left:-200%
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%
  }
  100%{
    left: -400%;
  }
}

.catalogues{
  overflow:scroll;
  overflow-y: hidden;
  margin: 0% 0%;
  height: 25vh;
  padding: 0% 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.catalogues div{
  width: 300%;
  position: relative;
}

.catalogues div img{
  display: inline-block;
  border-style: solid;
  border-color: black;
  width:4.8%;
  float:left;
  position: relative;
  transition: transform 0.75s, border-radius 0.75s;
  margin-right: 2px;
}


.catalogues div img:hover{
  transform: scale(1.2);
  z-index: 1;
  background: white;
  border-radius: 10%;
}

#browse{
  text-align: center;
}

section.History{
  margin: 100px 0px;
  display: block;
  float: left;
}

.History h2{
  text-align: Center;
  font-size: 250%;
  font-family: sans-serif;
  letter-spacing: 4px;
  font-variant:small-caps;
}

.History h3{
  text-align: Center;
  font-size: 300%;
  font-family: monospace;
  letter-spacing: 10px;
}

.History .line{
  width: 70%;
  border-top: rgba(0,0,0,0.5) solid;
  margin: 0% 15%;
  margin-bottom: 20px;
}

.History img{
  float:left;
  width:50%;
  margin-right: 2%;
  margin-left: 5%;
  border-radius: 10px;
  transition: transform 0.7s;
  border: black solid;
}


.History img:hover{
  transform: scale(1.05);
  z-index: 99;
}
.History div p{
  font-size: 150%;
  font-family: cursive;
}

#Before-footer{
  border: bold black 200px;
}

footer{
  clear:left;
  background: #242424;
  overflow: auto;
  color: white;
  font-family: sans-serif;
}
.signupBox{
  position: relative;
  border-radius: 20px;
  padding: 2px;
  width: 30%;
  margin:0% 32%;
  transition: 0.5s ease;
}


#signup1{
    border-radius: 20px;
    background: transparent;
    margin: transparent;
    color: white;
    width: 0%;
    border: none;
    transition: width 0.5s;
    float: left;
    font-size: 130%;
}

#signup2{
  border-radius: 20px;
  margin-left: -7px;
  float: right;
  font-size: 130%;
  border: none;
}

footer div{
  float: left;
  width: 33%;
  margin: auto;
  letter-spacing: 2px;
}

footer h4{
  text-align: center;
  font-size: 120%;
}

.signupBox:hover{
  width: 80%;
  margin:0% 10%;
}
.signupBox:hover #signup1{
  width: 68%;
}
.signupBox:hover #signup2{
  background-color:#0494CB;
  border: none;
}


footer a{
  text-decoration: none;
}

.social img{
  width: 10%;
  margin-right: 4%;
}

.social{
  clear: left;
  width: 100%;
  margin-left: 22%;
  margin-top: 30px;
}
.social img:hover{
  opacity: 0.8;
}

.navigate a{
  display:block;
  margin: auto;
  color: #0494CB;
  padding-left: 41%;
  margin-top: 5px;
}

.navigate a:hover{
  color: white;
  letter-spacing: 2px;
}

::-webkit-input-placeholder {
    color:    #F2F7F9 ;
}
:-moz-placeholder {
   color:    #F2F7F9 ;
}
::-moz-placeholder {
   color:    #F2F7F9 ;
}
:-ms-input-placeholder {
   color:    #F2F7F9 ;
}
::-ms-input-placeholder {
   color:    #F2F7F9 ;
}

::placeholder {
   color:    #F2F7F9 ;
}
.final{
  margin: 10px 0px;
  padding: 5px 0px 0px 0px;
  border-top: black solid;
  font-family: helvetica;
  display: block;
  clear: both;
  text-align: center;
  width: 100%;
  font-size: 90%;
  letter-spacing: 1px;
}
.news a{
  margin-left: 36%;
  color: white;
  display: block;
  margin-bottom: -5px;
}

.news h4, .news a{
  text-align: left;
  margin-left: 22%;
}

.news a:hover{
  color: orange;
}
